#main.lpShare, .lpList {
    transition: none !important;
}

.lpShare {
    .lpCategoryName {
        font-size: 18px;
        margin: 0;
    }

    .lpItem {
        &:hover {
            background: #fff;
        }

        .lpActionsCell {
            flex-basis: 75px;
        }

        &.lpItemHasImage .lpImageCell {
            padding-right: 5px;
        }
    }

    #lpListDescription {
        margin: 30px 0;
    }
}

.lpUnitSelect {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
    position: relative;

    &:hover,
    &.lpHover {
        background: #fff;
        border: 1px solid $border1;

        i {
            opacity: 1;
        }
    }

    i {
        opacity: 0.6;
    }

    &.lpOpen {
        background: #fff;

        .lpUnitDropdown {
            display: block;
        }
    }

    .lpDisplay {
        display: inline-block;
        width: 1.1em;
    }

    .lpUnitDropdown {
        background: #fff;
        border: 1px solid #ccc;
        display: none;
        left: 0;
        padding: 0;
        position: absolute;
        top: -1px;
        z-index: $aboveSidebar+1;

        &.lb {
            top: -30px;
        }

        &.g {
            top: -55px;
        }

        &.kg {
            top: -81px;
        }

        li {
            list-style: none;
            padding: 2px 14px;

            &:hover {
                background: $blue1;
                color: #fff;
            }
        }
    }
}

.lpDialog {
    animation: fadein 0.25s linear 0s 1 forwards;
    opacity: 0;
    background: #F7F7F7;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    left: 50%;
    padding: 35px;
    position: fixed;
    text-align: left;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 350px;
    z-index: 100;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .lpDialog.fadeout {
    animation: fadeout 0.25s linear 0s 1 forwards;
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .lpModalOverlay {
    animation: fadein 0.25s linear 0s 1 forwards;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .lpModalOverlay.fadeout {
    animation: fadeout 0.25s linear 0s 1 forwards;
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
@media only screen and (max-width: 720px) {
    .lpChart {
        max-width: 100%;
    }

    .lpHeader {
        display: flex !important;
        
        .lpWeightCell,
        .lpPriceCell,
        .lpQtyCell {
            display: block !important;
            text-align: right !important;
            padding-right: 0 !important;
        }

        .lpWeightCell {
            padding-right: 35px !important; // Space for unit
        }
        
        .lpQtyCell {
            padding-right: 5px !important;
        }
    }

    .lpItems {
        position: relative;

        .lpItem, .lpItemsHeader, .lpItemsFooter {
            .lpPriceCell { flex: 0 0 50px !important; margin-right: 5px !important; }
            .lpWeightCell { flex: 0 0 100px !important; margin-right: 5px !important; }
            .lpQtyCell { flex: 0 0 45px !important; }
            .lpImageCell { flex: 0 0 45px !important; }
        }

        .lpFooter {
            justify-content: flex-end;
        }
    }

    .lpItem {
        align-items: center;
        flex-wrap: wrap !important;
        justify-content: stretch;
        padding: 12px 0;

        .lpShowImages &.lpItemHasImage {
            padding-left: 0;

            .lpImageCell {
                position: static;
                height: auto;
                width: auto;
                display: block !important;
                
                .lpItemImage {
                    max-width: 40px;
                }
            }
        }

        .lpName {
            flex: 1 1 60px !important;
            font-weight: bold;
            order: 2;
            min-width: 0;
        }

        .lpQtyCell {
            order: 10;
            text-align: right;

            &[qty1] {
                color: transparent; /* Hide '1' but keep space for perfect alignment */
                user-select: none;
            }

            &::after {
                display: none !important;
            }
        }

        .lpPriceCell {
            order: 4;
            text-align: right;
        }

        .lpWeightCell {
            order: 5;
            text-align: right;
            white-space: nowrap;
            position: relative;
            padding-right: 35px !important;

            .lpWeight {
                width: auto !important;
                display: inline !important;
            }

            .lpUnitSelect {
                display: block !important;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 11px;
                opacity: 0.7;
                margin: 0 !important;
                width: 30px;
                text-align: left;
            }
        }

        .lpDescription, .lpActionsCell {
            order: 100 !important;
            margin-top: 10px !important;
        }

        .lpDescription {
            flex: 1 1 60% !important;
            padding-left: 20px !important;
            height: auto !important;
            color: #888;
            font-size: 12px;
            border-top: 1px dotted #ddd;
            padding-top: 10px;
        }

        .lpActionsCell {
            flex: 0 0 auto !important;
            width: auto !important;
            padding: 10px 5px 0 !important;
            border-top: 1px dotted #ddd;
            text-align: right;

            .lpHidden,
            i:not(.lpActive) {
                display: none;
            }
            
            .lpSprite {
                margin-right: 8px !important;
            }
        }
    }

    #lpImageDialog {
        padding: 5px;
        width: 90%;

        img {
            display: block;
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 480px) {
}
